.spacer{
    flex: 1 1 auto;
}

mat-toolbar {
    background-image: linear-gradient(to left, rgba(251,194,235,1), rgba(179,202,243,1));
}

mat-toolbar a{
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
}

button {
    font-size: large;
}

@media only screen and (max-width: 832px) {
    /* For mobile phones: */
    mat-toolbar a{
        display: inline-block;
        
        text-decoration: none;
    }

    .title {
        display: none;
        visibility: hidden;
    }

    .healing-icon{
        display: none;
    }
    
    button {
        font-size: large;
    }
    
}

@media only screen and (max-width: 400px) {
    /* For mobile phones: */
    mat-toolbar a{
        display: inline-block;
        
        text-decoration: none;
    }

    .title {
        display: none;
        visibility: hidden;
    }

    .healing-icon{
        display: none;
    }
    
    button {
        font-size: small;
    }
    
}

