.container{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, rgba(251,194,235,1), rgba(179,202,243,1));
    display: flex;
    flex-direction: column;
}

.card-style > .container-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: stretch;
}

.container-buttons > button {
    width: 100%;
}

.card-style{
    width:25%;
    margin: auto;
    margin-top: 5rem;
    padding: 10px;
    background-color: rgb(255,255,255,0.4);
    box-shadow: 5px 3px 10px 5px gray;
    display: flex;
    flex-direction: column;
}

#pass {
    margin-bottom: 10px;
}

#user {
    margin-bottom: 7px;
}

.confirm {
    position: relative;
}

@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    .card-style {
        width: 50%;
        margin-top: 25px;
      }
    
}

 form {
    display: flex;
    flex-direction: column;
}


form > div {
    display: flex;
    flex-direction: column;
}

form > .action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: stretch;
}

.action-buttons > button{
   width: 100%;
   margin: 1px 2px;
}

.state {
    display: flex;
    flex-direction: row;
    
}

.grey {
    background-color: gray;
}

.white {
    background-color: white;
}

form > div:nth-child(5){
    margin-bottom: 10px;
}
