table.mat-table {
  background-color:  rgb(255,255,255,0.1);
}

mat-paginator {
  background-color:  rgb(255,255,255,0.1);
}

.container {
  width: 50%;
  margin: auto;
  margin-top: 5rem;
  padding: 10px;
  background-color: rgb(255,255,255,0.4);
  box-shadow: 5px 3px 10px 5px gray;
  display: flex;
  flex-direction: column;
  min-width: 470px;
}

.container > .stock-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.stock-container > .table-container{
  flex-grow: 1;
}

.table-container{
  display: flex;
  flex-direction: column;
}


.mat-form-field {
  font-size: 14px;
  width: 100%;
}
  
.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}
  
.mat-row:hover .mat-cell {
  border-color: currentColor;
}

@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  .container {
    min-width: 300px;
    overflow: auto;
    }

    .container > mat-form-field {
      position: -webkit-sticky;
      position: sticky;
      width: 300px;
      left: 0;
      align-self: flex-start;
    }

    td.mat-cell {
      padding: 0px 10px;
      
    }

    th.mat-header-cell {
      padding: 0px 10px;
    }
  
}