table.mat-table {
  background-color:  rgb(255,255,255,0.1);
}

mat-paginator {
  background-color:  rgb(255,255,255,0.1);
}

.container {
  width: 75%;
  margin: auto;
  margin-top: 5rem;
  padding: 10px;
  background-color: rgb(255,255,255,0.4);
  box-shadow: 5px 3px 10px 5px gray;
  display: flex;
  flex-direction: column;
}

.container > .stock-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.stock-container > .table-container{
  flex-grow: 1;
}

.table-container{
  display: flex;
  flex-direction: column;
}


.mat-form-field {
  font-size: 14px;
  width: 100%;
}
  
.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}
  
.mat-row:hover .mat-cell {
  border-color: currentColor;
}