/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { 
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-image: linear-gradient(to right, rgba(251,194,235,1), rgba(179,202,243,1));
}

body {
  padding-bottom: 10rem;
}