table.mat-table {
  width: 100%;
  background-color:  rgb(255,255,255,0.1);
}

mat-paginator {
  background-color:  rgb(255,255,255,0.1);
}

.container-background {
  height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, rgba(251,194,235,1), rgba(179,202,243,1));
}

.container {
  width: 75%;
  margin: auto;
  margin-top: 5rem;
  padding: 10px;
  background-color: rgb(255,255,255,0.4);
  box-shadow: 5px 3px 10px 5px gray;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  min-width: 980px;
}

.container > .product-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.table-container{
  display: flex;
  flex-direction: column;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }

.mat-row:hover .mat-cell {
    border-color: currentColor;
  }

  :host::ng-deep .mat-form-field-prefix{
    position: initial;
}

td.mat-cell {
  padding: 0px 5px;
  
}

th.mat-header-cell {
  padding: 0px 5px;
}



@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  .container {
    min-width:300px;
    overflow: auto;
    }

    .container > .product-container > .sticky {
      position: -webkit-sticky;
      position: sticky;
      width: 300px;
      left: 0;
      align-self: flex-start;
    }

    .container > form {
      position: -webkit-sticky;
      position: sticky;
      width: 300px;
      left: 0;
      align-self: flex-start;
    }

    .product-container > .table-container {
      min-width:300px;
    }
  
    td.mat-cell {
      padding: 0px 10px;
      
    }

    th.mat-header-cell {
      padding: 0px 10px;
    }
}